@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-1cUGUHioPK9H: 1140px;
  --plasmic-token-content-max-width: var(--token-1cUGUHioPK9H);
  --token-7qilYqbFz025: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-7qilYqbFz025);
  --token-OUheBDCEiRRO: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-OUheBDCEiRRO);
  --token-d_PA2h8w1tFE: #92959bd9;
  --plasmic-token-light-label: var(--token-d_PA2h8w1tFE);
  --token-ddRqqZtMEM5R: #05050599;
  --plasmic-token-light-secondary: var(--token-ddRqqZtMEM5R);
  --token-tA2B2DydMSrm: #007aff;
  --plasmic-token-light-blue: var(--token-tA2B2DydMSrm);
  --token-sXEqYjoPUCaj: #ff3b30;
  --plasmic-token-light-red: var(--token-sXEqYjoPUCaj);
  --token-ShZiXhrjNHaU: #ffffff;
  --plasmic-token-white: var(--token-ShZiXhrjNHaU);
  --token-hBaKHzaoYWJ4: #ffffffd9;
  --plasmic-token-dark-label: var(--token-hBaKHzaoYWJ4);
  --token-rbAuRKb6_vf2: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-rbAuRKb6_vf2);
  --token-0bwC1Aeg0SRP: #0000001a;
  --plasmic-token-light-quarternary: var(--token-0bwC1Aeg0SRP);
  --token-LdjwuGJGoTot: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-LdjwuGJGoTot);
  --token-Axed-O2c5lF0: #32d74b;
  --plasmic-token-dark-green: var(--token-Axed-O2c5lF0);
  --token-u2Sjm24e2QGm: #0a84ff;
  --plasmic-token-dark-blue: var(--token-u2Sjm24e2QGm);
  --token-yJN0Jemv1xpB: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-yJN0Jemv1xpB);
  --token-5o_KkH9_zCoI: #34c759;
  --plasmic-token-light-green: var(--token-5o_KkH9_zCoI);
  --token-ZbtvrkyP_R_l: #5856d6;
  --plasmic-token-light-indigo: var(--token-ZbtvrkyP_R_l);
  --token-bcYTs4uDK8_J: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-bcYTs4uDK8_J);
  --token-wK53QdO9QNth: 1240px;
  --plasmic-token-max-width-navbar: var(--token-wK53QdO9QNth);
  --token-IGSrvOf6SqnF: var(--token-_iP9CmBv-qzF);
  --plasmic-token-unnamed-style-token-2: var(--token-IGSrvOf6SqnF);
  --token-_iP9CmBv-qzF: #eeeeee80;
  --plasmic-token-grey: var(--token-_iP9CmBv-qzF);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-TYLOQ8Pe-Wm9-pGua3_font-family: "Montserrat", sans-serif;
  --mixin-TYLOQ8Pe-Wm9-pGua3_font-size: 24px;
  --mixin-TYLOQ8Pe-Wm9-pGua3_font-weight: 400;
  --mixin-TYLOQ8Pe-Wm9-pGua3_font-style: normal;
  --mixin-TYLOQ8Pe-Wm9-pGua3_color: #00000080;
  --mixin-TYLOQ8Pe-Wm9-pGua3_text-align: center;
  --mixin-TYLOQ8Pe-Wm9-pGua3_text-transform: none;
  --mixin-TYLOQ8Pe-Wm9-pGua3_line-height: 150%;
  --mixin-TYLOQ8Pe-Wm9-pGua3_letter-spacing: normal;
  --mixin-TYLOQ8Pe-Wm9-pGua3_white-space: pre-wrap;
  --mixin-TYLOQ8Pe-Wm9-pGua3_user-select: text;
  --mixin-TYLOQ8Pe-Wm9-pGua3_text-decoration-line: none;
  --mixin-TYLOQ8Pe-Wm9-pGua3_text-overflow: clip;
  --mixin-Y8OcxMoELjKg-pGua3_white-space: pre-wrap;
  --mixin-7gfX8IKOueXo-pGua3_font-family: "Montserrat", sans-serif;
  --mixin-7gfX8IKOueXo-pGua3_color: #000000;
  --mixin-7gfX8IKOueXo-pGua3_font-size: 72px;
  --mixin-7gfX8IKOueXo-pGua3_font-weight: 700;
  --mixin-7gfX8IKOueXo-pGua3_line-height: 88px;
  --mixin-7gfX8IKOueXo-pGua3_text-align: center;
  --mixin-7gfX8IKOueXo-pGua3_white-space: pre-wrap;
  --mixin-ybrNLQnmmn5P-pGua3_font-family: "Inter", sans-serif;
  --mixin-ybrNLQnmmn5P-pGua3_color: #000000;
  --mixin-ybrNLQnmmn5P-pGua3_font-size: 48px;
  --mixin-ybrNLQnmmn5P-pGua3_font-weight: 700;
  --mixin-ybrNLQnmmn5P-pGua3_line-height: 59px;
  --mixin-ybrNLQnmmn5P-pGua3_white-space: pre-wrap;
  --mixin-IyW27o-R76af-pGua3_font-family: "Montserrat", sans-serif;
  --mixin-IyW27o-R76af-pGua3_color: #000000;
  --mixin-IyW27o-R76af-pGua3_font-size: 36px;
  --mixin-IyW27o-R76af-pGua3_font-weight: 700;
  --mixin-IyW27o-R76af-pGua3_line-height: 140%;
  --mixin-IyW27o-R76af-pGua3_white-space: pre-wrap;
  --mixin-IA7CzlMcN5Ag-pGua3_font-family: "Montserrat", sans-serif;
  --mixin-IA7CzlMcN5Ag-pGua3_color: #aeaeae;
  --mixin-IA7CzlMcN5Ag-pGua3_font-size: 18px;
  --mixin-IA7CzlMcN5Ag-pGua3_font-weight: 500;
  --mixin-IA7CzlMcN5Ag-pGua3_letter-spacing: -0.3px;
  --mixin-IA7CzlMcN5Ag-pGua3_line-height: 22px;
  --mixin-IA7CzlMcN5Ag-pGua3_white-space: pre-wrap;
  --mixin-khwZO9Q8HcxA-pGua3_font-family: "Inter", sans-serif;
  --mixin-khwZO9Q8HcxA-pGua3_color: #000000;
  --mixin-khwZO9Q8HcxA-pGua3_font-size: 16px;
  --mixin-khwZO9Q8HcxA-pGua3_font-weight: 600;
  --mixin-khwZO9Q8HcxA-pGua3_line-height: 1.5;
  --mixin-khwZO9Q8HcxA-pGua3_white-space: pre-wrap;
  --mixin-mzXuaq5kyL1l-pGua3_border-left-color: #dddddd;
  --mixin-mzXuaq5kyL1l-pGua3_border-left-style: solid;
  --mixin-mzXuaq5kyL1l-pGua3_border-left-width: 3px;
  --mixin-mzXuaq5kyL1l-pGua3_color: #888888;
  --mixin-mzXuaq5kyL1l-pGua3_padding-left: 10px;
  --mixin-mzXuaq5kyL1l-pGua3_white-space: pre-wrap;
  --mixin-PKYB9ecG9k3V-pGua3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PKYB9ecG9k3V-pGua3_border-bottom-color: #dddddd;
  --mixin-PKYB9ecG9k3V-pGua3_border-bottom-style: solid;
  --mixin-PKYB9ecG9k3V-pGua3_border-bottom-width: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_border-left-color: #dddddd;
  --mixin-PKYB9ecG9k3V-pGua3_border-left-style: solid;
  --mixin-PKYB9ecG9k3V-pGua3_border-left-width: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_border-right-color: #dddddd;
  --mixin-PKYB9ecG9k3V-pGua3_border-right-style: solid;
  --mixin-PKYB9ecG9k3V-pGua3_border-right-width: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_border-top-color: #dddddd;
  --mixin-PKYB9ecG9k3V-pGua3_border-top-style: solid;
  --mixin-PKYB9ecG9k3V-pGua3_border-top-width: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_border-bottom-left-radius: 3px;
  --mixin-PKYB9ecG9k3V-pGua3_border-bottom-right-radius: 3px;
  --mixin-PKYB9ecG9k3V-pGua3_border-top-left-radius: 3px;
  --mixin-PKYB9ecG9k3V-pGua3_border-top-right-radius: 3px;
  --mixin-PKYB9ecG9k3V-pGua3_font-family: "Inconsolata";
  --mixin-PKYB9ecG9k3V-pGua3_padding-bottom: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_padding-left: 4px;
  --mixin-PKYB9ecG9k3V-pGua3_padding-right: 4px;
  --mixin-PKYB9ecG9k3V-pGua3_padding-top: 1px;
  --mixin-PKYB9ecG9k3V-pGua3_white-space: pre-wrap;
  --mixin-XTL9uHLOZ1uJ-pGua3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-color: #dddddd;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-style: solid;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-width: 1px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-left-color: #dddddd;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-left-style: solid;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-left-width: 1px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-right-color: #dddddd;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-right-style: solid;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-right-width: 1px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-top-color: #dddddd;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-top-style: solid;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-top-width: 1px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-left-radius: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-right-radius: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-top-left-radius: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_border-top-right-radius: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_font-family: "Inconsolata";
  --mixin-XTL9uHLOZ1uJ-pGua3_padding-bottom: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_padding-left: 6px;
  --mixin-XTL9uHLOZ1uJ-pGua3_padding-right: 6px;
  --mixin-XTL9uHLOZ1uJ-pGua3_padding-top: 3px;
  --mixin-XTL9uHLOZ1uJ-pGua3_white-space: pre-wrap;
  --mixin-gcOw-pbTbsjx-pGua3_display: flex;
  --mixin-gcOw-pbTbsjx-pGua3_flex-direction: column;
  --mixin-gcOw-pbTbsjx-pGua3_align-items: stretch;
  --mixin-gcOw-pbTbsjx-pGua3_justify-content: flex-start;
  --mixin-gcOw-pbTbsjx-pGua3_list-style-position: outside;
  --mixin-gcOw-pbTbsjx-pGua3_padding-left: 40px;
  --mixin-gcOw-pbTbsjx-pGua3_position: relative;
  --mixin-gcOw-pbTbsjx-pGua3_list-style-type: decimal;
  --mixin-gcOw-pbTbsjx-pGua3_white-space: pre-wrap;
  --mixin-4lPKBhJnNygQ-pGua3_display: flex;
  --mixin-4lPKBhJnNygQ-pGua3_flex-direction: column;
  --mixin-4lPKBhJnNygQ-pGua3_align-items: stretch;
  --mixin-4lPKBhJnNygQ-pGua3_justify-content: flex-start;
  --mixin-4lPKBhJnNygQ-pGua3_list-style-position: outside;
  --mixin-4lPKBhJnNygQ-pGua3_padding-left: 40px;
  --mixin-4lPKBhJnNygQ-pGua3_position: relative;
  --mixin-4lPKBhJnNygQ-pGua3_list-style-type: disc;
  --mixin-4lPKBhJnNygQ-pGua3_white-space: pre-wrap;
  --mixin-FUhmHyDfu9XS-pGua3_color: #000000;
  --mixin-FUhmHyDfu9XS-pGua3_font-family: "Montserrat", sans-serif;
  --mixin-FUhmHyDfu9XS-pGua3_font-size: 72px;
  --mixin-FUhmHyDfu9XS-pGua3_line-height: 88px;
  --mixin-FUhmHyDfu9XS-pGua3_text-align: center;
  --mixin-FUhmHyDfu9XS-pGua3_font-weight: 700;
  --mixin-FUhmHyDfu9XS-pGua3_white-space: pre-wrap;
}

@media (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-TYLOQ8Pe-Wm9-pGua3_font-size: 18px;
    --mixin-TYLOQ8Pe-Wm9-pGua3_font-weight: 400;
    --mixin-TYLOQ8Pe-Wm9-pGua3_white-space: pre-wrap;
    --mixin-7gfX8IKOueXo-pGua3_font-size: 40px;
    --mixin-7gfX8IKOueXo-pGua3_line-height: 49px;
    --mixin-7gfX8IKOueXo-pGua3_white-space: pre-wrap;
    --mixin-ybrNLQnmmn5P-pGua3_font-size: 40px;
    --mixin-ybrNLQnmmn5P-pGua3_line-height: 49px;
    --mixin-ybrNLQnmmn5P-pGua3_white-space: pre-wrap;
    --mixin-IyW27o-R76af-pGua3_font-size: 30px;
    --mixin-IyW27o-R76af-pGua3_white-space: pre-wrap;
    --mixin-khwZO9Q8HcxA-pGua3_font-size: 18px;
    --mixin-khwZO9Q8HcxA-pGua3_white-space: pre-wrap;
    --mixin-FUhmHyDfu9XS-pGua3_font-size: 40px;
    --mixin-FUhmHyDfu9XS-pGua3_line-height: 49px;
    --mixin-FUhmHyDfu9XS-pGua3_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-B1qcVHYiCQkN_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-B1qcVHYiCQkN_white-space);
  --mixin-4HHXttAJVFXN_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-4HHXttAJVFXN_white-space);
  --mixin-Ne-KkhrQlIqY_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-Ne-KkhrQlIqY_box-shadow);
  --mixin-Ne-KkhrQlIqY_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-Ne-KkhrQlIqY_white-space
  );
  --mixin-3l8pMMY56M7b_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-3l8pMMY56M7b_white-space
  );
  --mixin-oPUeTdp1_UXf_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-oPUeTdp1_UXf_white-space);
  --mixin-q4x708LbFEM7_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-q4x708LbFEM7_box-shadow
  );
  --mixin-q4x708LbFEM7_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-q4x708LbFEM7_white-space
  );
  --mixin-dWs-coCuHJdU_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-dWs-coCuHJdU_box-shadow
  );
  --mixin-dWs-coCuHJdU_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-dWs-coCuHJdU_white-space
  );
  --mixin-WjQS5KPVv3KO_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-WjQS5KPVv3KO_white-space);
  --mixin-JqM6W5sEn6O4_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-JqM6W5sEn6O4_box-shadow
  );
  --mixin-JqM6W5sEn6O4_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-JqM6W5sEn6O4_white-space
  );
  --mixin-i_TjI4fg23PJ_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-i_TjI4fg23PJ_white-space);
  --mixin-bw0eNQbnxcc2_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-bw0eNQbnxcc2_white-space);
  --mixin-Jhn5Lf7QUNsV_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-Jhn5Lf7QUNsV_white-space);
  --mixin-lBc6IdjaSuUh_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-lBc6IdjaSuUh_white-space
  );
  --mixin-FgZqYtCGWk4O_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-FgZqYtCGWk4O_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-TYLOQ8Pe-Wm9-pGua3_font-family);
  font-size: var(--mixin-TYLOQ8Pe-Wm9-pGua3_font-size);
  font-weight: var(--mixin-TYLOQ8Pe-Wm9-pGua3_font-weight);
  font-style: var(--mixin-TYLOQ8Pe-Wm9-pGua3_font-style);
  color: var(--mixin-TYLOQ8Pe-Wm9-pGua3_color);
  text-align: var(--mixin-TYLOQ8Pe-Wm9-pGua3_text-align);
  text-transform: var(--mixin-TYLOQ8Pe-Wm9-pGua3_text-transform);
  line-height: var(--mixin-TYLOQ8Pe-Wm9-pGua3_line-height);
  letter-spacing: var(--mixin-TYLOQ8Pe-Wm9-pGua3_letter-spacing);
  white-space: var(--mixin-TYLOQ8Pe-Wm9-pGua3_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-7gfX8IKOueXo-pGua3_font-family);
  color: var(--mixin-7gfX8IKOueXo-pGua3_color);
  font-size: var(--mixin-7gfX8IKOueXo-pGua3_font-size);
  font-weight: var(--mixin-7gfX8IKOueXo-pGua3_font-weight);
  line-height: var(--mixin-7gfX8IKOueXo-pGua3_line-height);
  text-align: var(--mixin-7gfX8IKOueXo-pGua3_text-align);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-ybrNLQnmmn5P-pGua3_font-family);
  color: var(--mixin-ybrNLQnmmn5P-pGua3_color);
  font-size: var(--mixin-ybrNLQnmmn5P-pGua3_font-size);
  font-weight: var(--mixin-ybrNLQnmmn5P-pGua3_font-weight);
  line-height: var(--mixin-ybrNLQnmmn5P-pGua3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-IyW27o-R76af-pGua3_font-family);
  color: var(--mixin-IyW27o-R76af-pGua3_color);
  font-size: var(--mixin-IyW27o-R76af-pGua3_font-size);
  font-weight: var(--mixin-IyW27o-R76af-pGua3_font-weight);
  line-height: var(--mixin-IyW27o-R76af-pGua3_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-IA7CzlMcN5Ag-pGua3_font-family);
  color: var(--mixin-IA7CzlMcN5Ag-pGua3_color);
  font-size: var(--mixin-IA7CzlMcN5Ag-pGua3_font-size);
  font-weight: var(--mixin-IA7CzlMcN5Ag-pGua3_font-weight);
  letter-spacing: var(--mixin-IA7CzlMcN5Ag-pGua3_letter-spacing);
  line-height: var(--mixin-IA7CzlMcN5Ag-pGua3_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-khwZO9Q8HcxA-pGua3_font-family);
  color: var(--mixin-khwZO9Q8HcxA-pGua3_color);
  font-size: var(--mixin-khwZO9Q8HcxA-pGua3_font-size);
  font-weight: var(--mixin-khwZO9Q8HcxA-pGua3_font-weight);
  line-height: var(--mixin-khwZO9Q8HcxA-pGua3_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-mzXuaq5kyL1l-pGua3_color);
  padding-left: var(--mixin-mzXuaq5kyL1l-pGua3_padding-left);
  border-left: var(--mixin-mzXuaq5kyL1l-pGua3_border-left-width)
    var(--mixin-mzXuaq5kyL1l-pGua3_border-left-style)
    var(--mixin-mzXuaq5kyL1l-pGua3_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PKYB9ecG9k3V-pGua3_font-family);
  border-radius: var(--mixin-PKYB9ecG9k3V-pGua3_border-top-left-radius)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-top-right-radius)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-bottom-right-radius)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-bottom-left-radius);
  padding: var(--mixin-PKYB9ecG9k3V-pGua3_padding-top)
    var(--mixin-PKYB9ecG9k3V-pGua3_padding-right)
    var(--mixin-PKYB9ecG9k3V-pGua3_padding-bottom)
    var(--mixin-PKYB9ecG9k3V-pGua3_padding-left);
  border-top: var(--mixin-PKYB9ecG9k3V-pGua3_border-top-width)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-top-style)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-top-color);
  border-right: var(--mixin-PKYB9ecG9k3V-pGua3_border-right-width)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-right-style)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-right-color);
  border-bottom: var(--mixin-PKYB9ecG9k3V-pGua3_border-bottom-width)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-bottom-style)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-bottom-color);
  border-left: var(--mixin-PKYB9ecG9k3V-pGua3_border-left-width)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-left-style)
    var(--mixin-PKYB9ecG9k3V-pGua3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XTL9uHLOZ1uJ-pGua3_font-family);
  border-radius: var(--mixin-XTL9uHLOZ1uJ-pGua3_border-top-left-radius)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-top-right-radius)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-right-radius)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-left-radius);
  padding: var(--mixin-XTL9uHLOZ1uJ-pGua3_padding-top)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_padding-right)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_padding-bottom)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_padding-left);
  border-top: var(--mixin-XTL9uHLOZ1uJ-pGua3_border-top-width)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-top-style)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-top-color);
  border-right: var(--mixin-XTL9uHLOZ1uJ-pGua3_border-right-width)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-right-style)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-right-color);
  border-bottom: var(--mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-width)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-style)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-bottom-color);
  border-left: var(--mixin-XTL9uHLOZ1uJ-pGua3_border-left-width)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-left-style)
    var(--mixin-XTL9uHLOZ1uJ-pGua3_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-gcOw-pbTbsjx-pGua3_display);
  flex-direction: var(--mixin-gcOw-pbTbsjx-pGua3_flex-direction);
  align-items: var(--mixin-gcOw-pbTbsjx-pGua3_align-items);
  justify-content: var(--mixin-gcOw-pbTbsjx-pGua3_justify-content);
  list-style-position: var(--mixin-gcOw-pbTbsjx-pGua3_list-style-position);
  padding-left: var(--mixin-gcOw-pbTbsjx-pGua3_padding-left);
  position: var(--mixin-gcOw-pbTbsjx-pGua3_position);
  list-style-type: var(--mixin-gcOw-pbTbsjx-pGua3_list-style-type);
  flex-column-gap: var(--mixin-gcOw-pbTbsjx-pGua3_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-4lPKBhJnNygQ-pGua3_display);
  flex-direction: var(--mixin-4lPKBhJnNygQ-pGua3_flex-direction);
  align-items: var(--mixin-4lPKBhJnNygQ-pGua3_align-items);
  justify-content: var(--mixin-4lPKBhJnNygQ-pGua3_justify-content);
  list-style-position: var(--mixin-4lPKBhJnNygQ-pGua3_list-style-position);
  padding-left: var(--mixin-4lPKBhJnNygQ-pGua3_padding-left);
  position: var(--mixin-4lPKBhJnNygQ-pGua3_position);
  list-style-type: var(--mixin-4lPKBhJnNygQ-pGua3_list-style-type);
  flex-column-gap: var(--mixin-4lPKBhJnNygQ-pGua3_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-FUhmHyDfu9XS-pGua3_color);
  font-family: var(--mixin-FUhmHyDfu9XS-pGua3_font-family);
  font-size: var(--mixin-FUhmHyDfu9XS-pGua3_font-size);
  line-height: var(--mixin-FUhmHyDfu9XS-pGua3_line-height);
  text-align: var(--mixin-FUhmHyDfu9XS-pGua3_text-align);
  font-weight: var(--mixin-FUhmHyDfu9XS-pGua3_font-weight);
}
